
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.body{
    background-color: rgb(216, 216, 216);
    display: flexbox;
    margin: 0 auto;
    width: 80%;


}
.navegacion{
    width: 100%;
    background-color: #003444 ;
    padding: 0 auto;

    
    margin: 0 auto;
}
.pagination{
    width: 100%;
    padding: 0 auto ;
    align-items: center;
}


.imgSlider{
    width: 100%;
align-items: center;
align-content: center;
}



.ultimasNoticias {
    display: flex;
}
.ultimosLanzamientos {
    display: flex;
}


.card-body{
    background-color: black;
    color: white;
}



footer{
    background-color: black;
    height: 300px;
    display: flex !important ;
    padding: 0 auto;
    margin: auto ;
    
}

.cardFooter{
    width: 20%;
    display: flex;
}

